@model ChangePasswordViewModel

<nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="EditUserProfile">Cancel</a></li>
        </ul>
    </div>
</nav>

<form asp-controller="Account" asp-action="ChangePassword" method="post" role="form">
    <div class="col-md-3">
        <label asp-for="OldPassword" class="mt-4"></label>
        <div>
            <input asp-for="OldPassword" class="form-control" required />
            <span asp-validation-for="OldPassword" style="color:red"></span>
        </div>

        <label asp-for="NewPassword" class="mt-5"></label>
        <div>
            <input asp-for="NewPassword" class="form-control" required />
            <span asp-validation-for="NewPassword" style="color:red"></span>
        </div>

        <label asp-for="ConfirmNewPassword" class="mt-5"></label>
        <div>
            <input asp-for="ConfirmNewPassword" class="form-control" required />
            <span asp-validation-for="ConfirmNewPassword" style="color:red"></span>
        </div>

        <input type="submit" class="btn btn-block btn-outline-success btn-signin mt-5 mb-5" value="Save" />
    </div>
</form>
