@model ChangePasswordViewModel

<nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="EditUserProfile">Cancel</a></li>
        </ul>
    </div>
</nav>

<form asp-controller="Account" asp-action="ChangePassword" method="post" role="form">
    <div class="row form-group justify-content-center mt-4">
        <div class="col-md-3">
            <label asp-for="OldPassword"></label>
            <div>
                <input asp-for="OldPassword" class="form-control" required />
                <span asp-validation-for="OldPassword" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group justify-content-center mt-5">
        <div class="col-md-3">
            <label asp-for="NewPassword"></label>
            <div>
                <input asp-for="NewPassword" class="form-control" required />
                <span asp-validation-for="NewPassword" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group justify-content-center mt-5">
        <div class="col-md-3">
            <label asp-for="ConfirmNewPassword"></label>
            <div>
                <input asp-for="ConfirmNewPassword" class="form-control" required />
                <span asp-validation-for="ConfirmNewPassword" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group justify-content-center mt-5">
        <div class="col-md-3">
            <input type="submit" class="btn btn-block btn-outline-success btn-signin" value="Save" />
        </div>
    </div>
    
    <br>
</form>
