@model EditUserProfileViewModel

<script type="text/javascript">
    window.onload = function devBuyerCheck()
    {
        if (@Model.Role == @UserRole.Dev)
        {
            document.getElementById('ifDev').style.display = 'block';
            document.getElementById('ifBuyer').style.display = 'none';
        }
        else
        {
            document.getElementById('ifBuyer').style.display = 'block';
            document.getElementById('ifDev').style.display = 'none';
        }
    }
</script>

<nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav">
            @if (Model.Role == @UserRole.Dev)
            {
                <li class="nav-item"><a class="nav-link" asp-controller="Dev" asp-action="Index">Cancel</a></li>
            }
            @if (Model.Role == @UserRole.Buyer)
            {
                <li class="nav-item"><a class="nav-link" asp-controller="Buyer" asp-action="Index">Cancel</a></li>
            }
            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="ChangePassword">Change Password</a></li>
        </ul>
    </div>
</nav>

<form asp-controller="Account" asp-action="EditUserProfile" method="post" role="form">
    <input type="hidden" asp-for="Role" />  @*//need to have Role inside the form otherwise it will become 0(null)*@
    <div class="row form-group mt-4">
        <div class="col-md-3">
            <label asp-for="NickName"></label>
            <div>
                <input asp-for="NickName" placeholder="max 20 char" class="form-control" maxlength="20" required />
                <span asp-validation-for="NickName" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="Email"></label>
            <div>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="BitcoinAddr"></label>
            <div>
                <input asp-for="BitcoinAddr" placeholder="34 char" class="form-control" />
                <span asp-validation-for="BitcoinAddr" style="color:red"></span>
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="EthereumAddr"></label>
            <div>
                <input asp-for="EthereumAddr" placeholder="40 char" class="form-control" />
                <span asp-validation-for="EthereumAddr" style="color:red"></span>
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="LitecoinAddr"></label>
            <div>
                <input asp-for="LitecoinAddr" placeholder="34 char" class="form-control" />
                <span asp-validation-for="LitecoinAddr" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="Country"></label>
            <div>
                <input asp-for="Country" class="form-control" required />
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="Region"></label>
            <div>
                <input asp-for="Region" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="row form-group mt-5" id="ifBuyer">
        <div class="col-md-3">
            <label asp-for="CompanyName"></label>
            <div>
                <input asp-for="CompanyName" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="CompanyAddr"></label>
            <div>
                <input asp-for="CompanyAddr" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row form-group mt-5" id="ifDev">
        <div class="col-md-6">
            <label asp-for="SelfIntro"></label>
            <div>
                <textarea asp-for="SelfIntro" rows="6" cols="50" placeholder="max 400 char" class="form-control" maxlength="400" required></textarea>
                <span asp-validation-for="SelfIntro" style="color:red"></span>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-block btn-outline-success btn-signin mt-5 mb-5" value="Save Profile" />
</form>