@model LoginViewModel

<form asp-controller="Account" asp-action="Login" method="post" role="form">
    <div asp-validation-summary="All" style="color:red"></div>
    <input type="hidden" asp-for="ReturnUrl" />

    <div >
        <label asp-for="UserName"></label>
        <div>
            <input asp-for="UserName"/>
            <span asp-validation-for="UserName" style="color:red"></span>
        </div>
    </div>
    <br>
    <div >
        <label asp-for="Password"></label>
        <div>
            <input asp-for="Password"/>
            <span asp-validation-for="Password" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <input type="submit" name="login" value="Log in" />
    </div>
</form>
