@model LoginViewModel

<div class="row justify-content-center" >
    <div class="col-md-5">
        <form asp-controller="Account" asp-action="Login" method="post" role="form" class="form-signin">
            <br>
            <img class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <br>
            <div>
                <input asp-for="UserName" placeholder="username" class="form-control" required autofocus />
                <span asp-validation-for="UserName" style="color:red"></span>
            </div>
            <br>
            <div>
                <input asp-for="Password" placeholder="password" class="form-control" required />
                <span asp-validation-for="Password" style="color:red"></span>
            </div>
            <br>
            <input type="submit" class="btn btn-block btn-outline-success btn-signin" value="Log in" />
        </form>
    </div>
</div>