@model RegisterViewModel

<script type="text/javascript">
    window.onload = function resetRadioButton()
    {
        document.getElementById('devCheck').checked = false;
        document.getElementById('buyerCheck').checked = false;
    }

    function devBuyerCheck()
    {
        if (document.getElementById('devCheck').checked)
        {
            document.getElementById('ifDev').style.display = 'block';
            document.getElementById('ifBuyer').style.display = 'none';
        }
        else if (document.getElementById('buyerCheck').checked)
        {
            document.getElementById('ifBuyer').style.display = 'block';
            document.getElementById('ifDev').style.display = 'none';
        }
    }
</script>

<form asp-controller="Account" asp-action="Register" method="post" role="form">
    <div asp-validation-summary="All" style="color:red"></div>
    <div>
        <label asp-for="Role"></label>
        <div>
            Developer <input asp-for="Role" type="radio" value="@UserRole.Dev" onclick="javascript:devBuyerCheck();" id="devCheck">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Investor <input asp-for="Role" type="radio" value="@UserRole.Buyer" onclick="javascript:devBuyerCheck();" id="buyerCheck">
            <span asp-validation-for="Role" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="UserName"></label>
        <div>
            <input asp-for="UserName" placeholder="max 20 char"/>
            <span asp-validation-for="UserName" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="Password"></label>
        <div>
            <input asp-for="Password" />
            <span asp-validation-for="Password" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <div>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="NickName"></label>
        <div>
            <input asp-for="NickName" placeholder="max 20 char"/>
            <span asp-validation-for="NickName" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="Email"></label>
        <div>
            <input asp-for="Email" />
            <span asp-validation-for="Email" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="ConfirmEmail"></label>
        <div>
            <input asp-for="ConfirmEmail" />
            <span asp-validation-for="ConfirmEmail" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="Country"></label>
        <div>
            <input asp-for="Country" />
        </div>
    </div>
    <br>
    <div>
        <label asp-for="Region"></label>
        <div>
            <input asp-for="Region" />
        </div>
    </div>
    <br>
    <div id="ifBuyer" style="display:none">
        <label asp-for="CompanyName"></label>
        <div>
            <input asp-for="CompanyName" />
        </div>
        <br>
        <label asp-for="CompanyAddr"></label>
        <div>
            <input asp-for="CompanyAddr" />
        </div>
        <br>
    </div>
    <div id="ifDev" style="display:none">
        <label asp-for="SelfIntro"></label>
        <div>
            <textarea asp-for="SelfIntro" rows="15" cols="50" placeholder="max 400 char"></textarea>
            <span asp-validation-for="SelfIntro" style="color:red"></span>
        </div>
        <br>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>