<a asp-area="" asp-controller="Account" asp-action="DevRegister">Register for developer</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a asp-area="" asp-controller="Account" asp-action="BuyerRegister">Register for investor</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>