@model NonLoggedInViewModel

<div class="container">
    <ul class="list-inline text-right">
        @if (Model.Controller == "Account" && Model.Action == "Login")
        {
            <li class="list-inline-item float-left" style="color:dodgerblue">Welcome Back ! Please Sign In</li>
            <li class="list-inline-item"><a class="btn" asp-controller="Account" asp-action="Start">Cancel</a></li>
        }
        else if (Model.Controller == "Account" && Model.Action == "Register")
        {
            <li class="list-inline-item float-left" style="color:dodgerblue">You can create an account and it only takes you one minutes</li>
            <li class="list-inline-item"><a class="btn" asp-controller="Account" asp-action="Start">Cancel</a></li>
        }
        else
        {
            <li class="list-inline-item"><a class="btn" asp-controller="Account" asp-action="Register">Register</a></li>
            <li class="list-inline-item"><a class="btn" asp-controller="Account" asp-action="Login">Log in</a></li>
        }
    </ul>
</div>




