@model NonLoggedInViewModel

@if (Model.Controller == "Account" && Model.Action == "Login")
{
    <div style="text-align:left;">
        Pleaes enter your username and password 
        <span style="float:right;">
            <a asp-controller="Account" asp-action="Start">Cancel</a>
        </span>
    </div>
}

else if (Model.Controller == "Account" && Model.Action == "DevRegister")
{
    <div style="text-align:left;">
        Create a new developer account
        <span style="float:right;">
            <a asp-controller="Account" asp-action="Start">Cancel</a>
        </span>
    </div>
}

else if (Model.Controller == "Account" && Model.Action == "BuyerRegister")
{
    <div style="text-align:left;">
        Create a new investor account
        <span style="float:right;">
            <a asp-controller="Account" asp-action="Start">Cancel</a>
        </span>
    </div>
}

else
{
    <div align="right">
        <a asp-area="" asp-controller="Account" asp-action="DevRegister">Register for developer</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a asp-area="" asp-controller="Account" asp-action="BuyerRegister">Register for investor</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
    </div>
}


