@model User

<div class="container">
    <ul class="list-inline">
        <li class="list-inline-item" style="color:dodgerblue">
            Hi @Model.NickName
            @if (Model.Role == UserRole.Dev)
            {
                <font>, remember if you accidentally changed the world it's not your fault!</font>
            }
            else
            {
                <font>, have a nice day!</font>
            }
        </li>
        <li class="list-inline-item float-right"><a class="btn" asp-controller="Account" asp-action="Logout">Log off</a></li>
    </ul>
</div>

