@model String
<div>
    <textarea rows="15" cols="30" id="display">@Model</textarea>
    <br>
    <br>
    <input id="text" />
    <br>
    <br>
    <input type="button" value="send" id="sendBtn" onclick="GroupMessage()" />
</div>