@model String
<div>
    <textarea class="form-control" rows="10" id="display" readonly>@Model</textarea>
    <div class="input-group">
        <input id="text" type="text" class="form-control input-sm chat_input"  placeholder="Write your message here..." />
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" id="sendBtn" onclick="GroupMessage()">Send</button>
        </span>
    </div>
</div>

