<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <vc:login-status></vc:login-status>
    </div>  
    <hr />
    <div>
        @RenderBody()
    </div>
</body>
</html>
