@model CreateProjectViewModel

<nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" asp-controller="Dev" asp-action="Index">Cancel</a></li>
        </ul>
    </div>
</nav>
<form asp-controller="Project" asp-action="CreateProject" method="post" role="form">
    <div class="row form-group mt-4">
        <div class="col-md-3">
            <label asp-for="ProjName"></label>
            <div>
                <input asp-for="ProjName" placeholder="max 40 char" class="form-control" maxlength="40" required />
                <span asp-validation-for="ProjName" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="ProtdCompDate"></label>
            <div>
                <input asp-for="ProtdCompDate" class="form-control" required />
                <span asp-validation-for="ProtdCompDate" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="RepoLink"></label>
            <div>
                <input asp-for="RepoLink" class="form-control"/>
                <span asp-validation-for="RepoLink" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="Value_bitcoin"></label>
            <div>
                <input asp-for="Value_bitcoin" value="0" class="form-control" />
                <span asp-validation-for="Value_bitcoin" style="color:red"></span>
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="Value_ethereum"></label>
            <div>
                <input asp-for="Value_ethereum" value="0" class="form-control" />
                <span asp-validation-for="Value_ethereum" style="color:red"></span>
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="Value_litecoin"></label>
            <div>
                <input asp-for="Value_litecoin" value="0" class="form-control" />
                <span asp-validation-for="Value_litecoin" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-6">
            <label asp-for="BriefDescript"></label>
            <div>
                <textarea asp-for="BriefDescript" rows="5" placeholder="max 200 char" class="form-control" maxlength="200" required></textarea>
                <span asp-validation-for="BriefDescript" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-6">
            <label asp-for="FullDescript"></label>
            <div>
                <textarea asp-for="FullDescript" rows="8" placeholder="max 2000 char" class="form-control" maxlength="2000" required></textarea>
                <span asp-validation-for="FullDescript" style="color:red"></span>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-block btn-outline-success btn-signin mt-5 mb-5" value="Create Project" />
</form>