@model CreateProjectViewModel

<form asp-controller="Project" asp-action="CreateProject" method="post" role="form">
    Create a project |
    <a asp-controller="Dev" asp-action="Index">Cancel</a>
    <div asp-validation-summary="All" style="color:red"></div>
    <div>
        <label asp-for="ProjName" ></label>
        <div>
            <input asp-for="ProjName" />
            <span asp-validation-for="ProjName" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="ProtdCompDate" ></label>
        <div>
            <input asp-for="ProtdCompDate" />
            <span asp-validation-for="ProtdCompDate" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="Visibility" ></label>
        <div>
            <select asp-for="Visibility">
                <option value=@ProjVisibility.Visible_To_Everyone>Visible To Everyone</option>
                <option value=@ProjVisibility.Visible_To_All_Users>Visible To All Users</option>
                <option value=@ProjVisibility.Only_Visible_To_Buyers>Only Visible To Buyers</option>
                <option value=@ProjVisibility.Invisible>Invisible</option>
            </select>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="RepoLink" ></label>
        <div>
            <input asp-for="RepoLink" />
        </div>
    </div>
    <br>
    <div>
        <label asp-for="Valuation" ></label>
        <div>
            <input asp-for="Valuation" />
        </div>
    </div>
    <br>
    <div>
        <label asp-for="BriefDescript" ></label>
        <div>
            <textarea asp-for="BriefDescript" rows="10" cols="30"></textarea>
            <span asp-validation-for="BriefDescript" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="FullDescript" ></label>
        <div>
            <textarea asp-for="FullDescript" rows="15" cols="50"></textarea>
            <span asp-validation-for="FullDescript" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <div>
            <input type="submit" value="Create" />
        </div>
    </div>
</form>