@model CreateProjectViewModel

<nav class="navbar  navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" asp-controller="Project" asp-action="Index" asp-route-id="@Model.ProjId">Cancel</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Project" asp-action="AbortProject" asp-route-projId="@Model.ProjId">Abort this project</a></li>
        </ul>
    </div>
</nav>

<form asp-controller="Project" asp-action="UpdateProject" method="post" role="form">
    <input type="hidden" asp-for="ProjId" /> @*//need to have ProjId inside the form otherwise it will become 0(null)*@
    <input type="hidden" asp-for="ProjName" />
    <input type="hidden" asp-for="BriefDescript" />
    <div class="row form-group mt-4">
        <div class="col-md-3">
            <label asp-for="ProtdCompDate"></label>
            <div>
                <input asp-for="ProtdCompDate" class="form-control" required />
                <span asp-validation-for="ProtdCompDate" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="ProjectStatus"></label>
            <div>
                <select asp-for="ProjectStatus" class="form-control">
                    <option value=@ProjStatus.Preparing>Preparing</option>
                    <option value=@ProjStatus.Recruiting>Recruiting</option>
                    <option value=@ProjStatus.Under_Development>Under Development</option>
                    <option value=@ProjStatus.Suspended>Suspended</option>
                    <option value=@ProjStatus.Development_Completed>Development Completed</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="RepoLink"></label>
            <div>
                <input asp-for="RepoLink" class="form-control" />
                <span asp-validation-for="RepoLink" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="Value_bitcoin"></label>
            <div>
                <input asp-for="Value_bitcoin" class="form-control" />
                <span asp-validation-for="Value_bitcoin" style="color:red"></span>
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="Value_ethereum"></label>
            <div>
                <input asp-for="Value_ethereum" class="form-control" />
                <span asp-validation-for="Value_ethereum" style="color:red"></span>
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="Value_litecoin"></label>
            <div>
                <input asp-for="Value_litecoin" class="form-control" />
                <span asp-validation-for="Value_litecoin" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-3">
            <label asp-for="Progress"></label>
            <div>
                <input asp-for="Progress" class="form-control" />
                <span asp-validation-for="Progress" style="color:red"></span>
            </div>
        </div>
    </div>
    <div class="row form-group mt-5">
        <div class="col-md-6">
            <label asp-for="FullDescript"></label>
            <div>
                <textarea asp-for="FullDescript" rows="8" placeholder="max 1000 char" class="form-control" maxlength="1000" required></textarea>
                <span asp-validation-for="FullDescript" style="color:red"></span>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-block btn-outline-success btn-signin mt-5 mb-5" value="Save Project" />
</form>