@model MakeAnOfferViewModel

<a asp-controller="Project" asp-action="Index" asp-route-id="@Model.ProjId">Back to Project</a>
<form asp-controller="Transaction" asp-action="MakeAnOffer" method="post" role="form">
    <div asp-validation-summary="All" style="color:red"></div>
    <input type="hidden" asp-for="ProjId" />
    <input type="hidden" asp-for="BuyerId" />
    <input type="hidden" asp-for="OfferId" />
    <div>
        <label asp-for="Currency"></label>
        <div>
            <select asp-for="Currency">
                @foreach (var i in Model.AcceptCurrency)
                {
                    if (i == Cryptocurrency.Bitcoin)
                    {
                        <option value=@i>Bitcoin</option>
                    }

                    if (i == Cryptocurrency.Ethereum)
                    {
                        <option value=@i>Ethereum</option>
                    }

                    if (i == Cryptocurrency.Litecoin)
                    {
                        <option value=@i>Litecoin</option>
                    }
                }
            </select>
        </div>
    </div>
    <br>
    <div>
        <label asp-for="Value"></label>
        <div>
            <input asp-for="Value" />
            <span asp-validation-for="Value" style="color:red"></span>
        </div>
    </div>
    <br>
    <div>
        <input type="submit" value="Make an offer" />
    </div>

    @for (int i = 0; i < Model.AcceptCurrency.Count; i++)  //this is to bring AcceptCurrency back, in case failed model checking
    {
        <input type="hidden" asp-for="AcceptCurrency[i]" />
    }
</form>
@if (Model.ThisProjHasPendingOffer)
{
    <br>
    <form asp-controller="Transaction" asp-action="WithdrawAnOffer" asp-route-projId="@Model.ProjId" asp-route-buyerId="@Model.BuyerId" method="post" role="form">
        <input type="submit" value="Withdraw a pending offer" />
    </form>
}

<br>
<br>
--------------- offer history ------------------
<br>
@foreach (var offer in Model.HistoryOffers)
{
    <font>@offer.Value</font>
    switch (offer.Currency)
    {
        case Cryptocurrency.Bitcoin:
            <font>of Bitcoin</font>
            break;
        case Cryptocurrency.Ethereum:
            <font>of Ethereum</font>
            break;
        case Cryptocurrency.Litecoin:
            <font>of Litecoin</font>
            break;
    }
    switch (offer.Status)
    {
        case OfferStatus.Pending:
            <font> -- pending</font>
            break;
        case OfferStatus.Rejected:
            <font> -- not accepted</font>
            break;
        case OfferStatus.Withdrawn:
            <font> -- withdrawn</font>
            break;
    }
    <br>
}